body{
    display: flex;
    
    flex-direction: column ;
    justify-content: center;
    align-items: center;

.title{
    display:flex;
    justify-content: center;
    background-color: #d6cece;
}
.commentary{
    display: flex;
    justify-content: center;
}
.top{
    display: flex;
    justify-items: right;
    gap: 650px;}
    img{
    width: 800px;
    height:800px;
    }
.commentary{
    display: flex;
    justify-content: left;
}
.commentary2{
    display: flex;
    justify-content: center;
}
.top2{
    display: flex;
    justify-items: right;
    gap: 650px;}
    .image2{
    width: 800px;
    height:800px;
    }
.commentary2{
    display: flex;
    justify-content: left;
}
.top3{
    display: flex;
    justify-items: right;
    gap: 650px;
}